<h3>Post a Comment</h3>

<% if flash[:errors].present?  %>
   <strong>Please correct the following errors:</strong>
   <ol>
   <% flash[:errors].each do |error| %>
     <li><%= error %></li>
   <% end %>
   </ol>
<% end %>

<%= form_for [ @post.comment ] do |f| %>
  <p>
    <%= f.label :name %><br/>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :comment %><br/>
    <%= f.text_area :comment %>
  </p>
  <p>
    <%= f.submit 'Submit' %>
  </p>
<% end %>

<% if flash[:errors].present? %>

  <strong>Please correct follwing errors:</strong>

  <ol>
  <%  flash[:errors].each do |error| %>
  <li><%= error %><li>
    <% end %>
  </ol>
<% end %>
