<h2><%= @post.title %></h2>
<br>
<h4><%= @post.content %></h4>
<hr>
<div>
<% if @post.image.present? %>
<%= image_tag @post.image, class: 'postTitle' %>
<% end %>
</div>
<br>

<!--Only show post for user login  -->
<% if @current_user.present? && @post.user == @current_user  %>
<%= link_to 'Edit Post', edit_post_path(@post) %>
<% end  %>

<!--Added for comments  -->

<h3>Comments (<%= @post.comments.count %>) </h3>

<%= form_tag comments_path do %>
    <%= label_tag :name %>
    <%= text_field_tag :name %>
    <br/>
    <%= label_tag :comment %>
    <%= text_area_tag :comment %>
    <%= hidden_field_tag :post_id, "#{@post.id}" %>
    <br>
    <br>
    <%= submit_tag 'Submit' %>
  </p>
<% end %>
<%= render partial: 'comments/comment', collection: @post.comments.reverse %>
